"*":
  core:
    audioBeep: false
    destroyEmptyPanes: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "._DS_Store"
    ]
    projectHome: "/Users/johnchinjew/"
    reopenProjectMenuCount: 10
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
    titleBar: "custom"
    warnOnLargeFileLimit: 5
  editor:
    autoIndentOnPaste: false
    fontFamily: "Menlo"
    lineHeight: 1.25
    maxScreenLineLength: 9999
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?…"
    scrollPastEnd: true
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
    undoGroupingInterval: 250
  "exception-reporting":
    userId: "7c5da635-1962-4272-b6f7-074ca1476a28"
  "fuzzy-finder":
    preserveLastSearch: true
  "pp-markdown":
    cssURL: "markdown"
  "selection-counter":
    hideWhenNoSelections: true
    statusString: "(%s)"
  "split-diff": {}
  "status-bar": {}
  tabs:
    enableVcsColoring: true
  teletype:
    askBeforeJoiningPortalViaExternalApp: false
  "theme-switcher": {}
  welcome:
    showOnStartup: false
